<li class="media my-4" id="{{formid}}_recordset_{{id}}">
    <img style="width: 75px;" class="rounded mr-3" src="{{image}}" alt="Autor">
    <div class="media-body" style="border-left: 1px solid #929292; padding-left: 12px;">
        <h4 id="{{formid}}_title_{{id}}" style="font-weight: bolder;" class="mt-0 mb-1">{{title}}</h4>
        <small style="font-style: italic;">
            <div>Ressort <span id="{{formid}}_division_{{id}}">{{resname}}</span></div>
            <div>Erstellt von {{{mailaddr}}} am {{date}}</div>
        </small>
        <div id="{{formid}}_content_{{id}}" style="margin-top: 0.25rem;">{{{content}}}</div>
    </div>
    <div>
    {{#if updateAllowed}}
    <button
        type="button"
        class="btn btn-success btn-sm"
        data-toggle="modal"
        data-target="#createDialogModal"
        data-url="{{url}}"
        data-item-id="{{id}}"
        data-form-id="{{formid}}"
    >bearbeiten</button>
    {{/if}}
    {{#if deleteAllowed}}
    <button
        type="button"
        class="btn btn-danger btn-sm"
        data-toggle="modal"
        data-target="#deleteDialogModal"
        data-url="{{url}}"
        data-item-id="{{id}}"
        data-form-id="{{formid}}"
    >löschen</button>
    {{/if}}
    </div>
</li>
