<div id="{{id}}">
    <div style="margin-top: 0.5rem; margin-bottom: 1.0rem;">
        {{{content}}}
    </div>
    {{#if deleteAllowed}}
    <button
        type="button"
        class="btn btn-danger btn-sm"
        data-toggle="modal"
        data-target="#deleteDialogModal"
        data-item-del-url="{{delurl}}"
        data-item-id="{{id}}"
    >
        löschen
    </button>
    {{/if}}
    <div class="modificationDate" style="margin-top: 0.5rem;">
        Erstellt von {{{author}}} <br />
        Stand: <time pubdate="pubdate">{{date}}</time>
    </div>
</div>

